@model EasyStocks.DTO.Responses.BrokerListResponse

<h1>Corporate Brokers</h1>
@if (Model != null && Model.Brokers != null && Model.Brokers.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Stock Broker License</th>
                <th>Email</th>
                <th>Company Name</th>
                <th>Company Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var broker in Model.Brokers)
            {
                <tr>
                    <td>@broker.BrokerType</td>
                    <td>@broker.StockBrokerLicense</td>
                    <td>
                        @foreach (var user in broker.Users)
                        {
                            <span>@user.Email</span>
                            <br />
                        }
                    </td>
                    <td>@broker.CompanyName</td>
                    <td>@broker.CompanyEmail</td>
                    <td>@broker.Status</td>
                    <td>
                        <a asp-action="BrokerDetails" asp-route-id="@broker.BrokerId" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Corporate Brokers found.</p>
}