@model BrokerListResponse

<h1>Brokers</h1>
<div>
    @* <h3>Filter Brokers By Type:</h3> *@
    <div>
        <a href="@Url.Action("GetBrokersByType", "Broker", new { brokerType = BrokerRole.CorporateBroker })" class="btn btn-primary">Corporate Brokers</a>
        <a href="@Url.Action("GetBrokersByType", "Broker", new { brokerType = BrokerRole.IndividualBroker })" class="btn btn-primary">Individual Brokers</a>
        <a href="@Url.Action("GetBrokersByType", "Broker", new { brokerType = BrokerRole.FreelanceBroker })" class="btn btn-primary">Freelance Brokers</a>
    </div>
</div>

@if (Model != null && Model.Brokers != null && Model.Brokers.Count > 0)
{
    var brokerType = Model.Brokers.FirstOrDefault()?.BrokerType;
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                @if (brokerType == BrokerRole.CorporateBroker || brokerType == BrokerRole.IndividualBroker)
                {
                    <th>Stock Broker License</th>
                }
                <th>Email</th>
                @if (brokerType == BrokerRole.CorporateBroker)
                {
                    <th>Company Name</th>
                    <th>Company Email</th>
                }
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var broker in Model.Brokers)
            {
                <tr>
                    <td>@broker.BrokerType</td>
                    @if (brokerType == BrokerRole.CorporateBroker || brokerType == BrokerRole.IndividualBroker)
                    {
                        <td>@broker.StockBrokerLicense</td>
                    }
                    <td>
                        @foreach (var user in broker.Users)
                        {
                            <span>@user.Email</span>
                            <br />
                        }
                    </td>
                    @if (brokerType == BrokerRole.CorporateBroker)
                    {
                        <td>@broker.CompanyName</td>
                        <td>@broker.CompanyEmail</td>
                    }
                    <td>@broker.Status</td>
                    <td>
                        <a asp-action="BrokerDetails" asp-route-id="@broker.BrokerId" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Broker found.</p>
}