@* @model EasyStocks.DTO.Responses.StockResponse

<h1>Stock Details</h1>

<a href="@Url.Action("Index", "Stock")" class="btn btn-primary">Back to List</a>
<a href="@Url.Action("UpdateStock", "Stock", new {id = Model.StockId})" class="btn btn-secondary">Edit</a>

<table class="table">
    <tr>
        <th>Stock Title</th>
        <td>@Model.StockTitle</td>
    </tr>
    <tr>
        <th>Company Name</th>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <th>Stock Type</th>
        <td>@Model.StockType</td>
    </tr>
    <tr>
        <th>Total Units</th>
        <td>@Model.TotalUnits</td>
    </tr>
    <tr>
        <th>Price Per Unit</th>
        <td>@Model.PricePerUnit</td>
    </tr>
    <tr>
        <th>Opening Date</th>
        <td>@Model.OpeningDate</td>
    </tr>
    <tr>
        <th>Closing Date</th>
        <td>@Model.ClosingDate</td>
    </tr>
    <tr>
        <th>Minimum Purchase</th>
        <td>@Model.MinimumPurchase</td>
    </tr>
    <tr>
        <th>InitialDeposit</th>
        <td>@Model.InitialDeposit</td>
    </tr>
    <tr>
        <th>Date Listed</th>
        <td>@Model.DateListed</td>
    </tr>
    <tr>
        <th>Listed By</th>
        <td>@Model.ListedBy</td>
    </tr>
</table>

<form asp-action="DeleteStock" asp-route-id="@Model.StockId" method="post" onsubmit="return confirm('Are you sure you want to delete this stock?');">
    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.AntiForgeryToken()
</form>

@* @if (User.Identity.IsAuthenticated)
{
    <form asp-action="DeleteStock" asp-route-id="@Model.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this stock?');">
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.AntiForgeryToken()
    </form>
} *@